<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004036970500-9n710acrdmapnsshfo9viiprukcies3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004036970500-9n710acrdmapnsshfo9viiprukcies3m</string>
	<key>API_KEY</key>
	<string>AIzaSyDM1GNaqg_ar5MynK_v-hfCApB9fjb1wW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1004036970500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MoviewTableViewInCode.TwitterCloneApp</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-dbb93</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-dbb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004036970500:ios:2ce5147986aca448b33d51</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-dbb93-default-rtdb.firebaseio.com</string>
</dict>
</plist>